#please-connect {
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#please-connect p {
  color: #fff;
  font-weight: bold;
  text-align: center;
  position: relative;
  font-size: 1.6em;
  top: 30%;
}

.video-container {
  margin-top: 1%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.video-area {
  position: relative;
}

.svg-area {
  border: 4px rgb(48, 48, 40) solid;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInput   label {
  color: #717171;
  background-color: white;
  display: inline-block;
  cursor: pointer;
  padding: .5em 1em;
  border: 1px solid #ccc;
  cursor: pointer;
}